NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000"
OPENAI_API_KEY=""
PROMPT_ENHANCEMENT_MODEL="gpt-4.1-mini"
EMAIL_FROM="alerts@example.com"
NODEMAILER_SERVICE=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASS=""
